/******************************
* PHPRAID includeD CSS STYLES *
******************************/

/*
{template_name} TEMPLATE BY FRAZIER DAVES
MODIFIED FOR PHPRAIDER BY KYLE SPRAGGS
/*

/* General page style. */
body {
	color:#000000;
	background-color:#aaaaaa;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
}

hr {
}

/* The text input fields background colour */
/* And all button looks */
input.post, textarea.post, select {
	border: 1px solid #000000;
	background-color:#ffffff;
}

input { text-indent : 2px; font-size: 11px; }

/* main submit button */
input.mainoption {
	font-weight: bolder;
}

/* secondary submit button (usually a reset) */
input.liteoption {
}

/* Formatting for the hover tooltips */
#dhtmltooltip{
	position: absolute;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	text-align:left;
	border: 1px solid white;
	padding: 3px;
	background-color: black;
	visibility: hidden;
	z-index: 100;
	color: white;
}

.contentHeader {
	background-image:url('../images/header_background.png');
	background-repeat:no-repeat;
	color:#000000;
	font-weight:bolder;
	font-size:12px;
	height:17px;
	text-align:left;
	text-indent:3px;
	padding-top:1px;
	width:100%;
}

.contentBody {
	background-color:#E6FBFF;
	border:1px solid #000000;
	font-size: 11px;
	padding: 3px;
	text-align: left;
}

/* border color for data */
.dataOutline {
	border:1px solid #000000;
	font-size:11px;
}

.errorHeader {
	background-color: #FF9194;
	border: 1px solid #ff0000;
	font-weight:bolder;
	padding:5px;
	text-align:left;
	width: 600px;
}

.errorBody {
	background-color:#FFCACB;
	border: 1px solid #ff0000;
	border-top:0px;
	padding:5px;
	text-align:center;
	width: 600px;
}

.errorBody li {
	text-align:left;
}

/* header for data output */
.listHeader {
	background-color:#86d6f0;
}

.listHeader A:link,a:visited,a:active,a:hover {
	color:#000000;
}

/* row colors for data output and hover color */
.row1 {
	background-color:#f3f3f3;
}

.row2 {
	background-color:#f8f8f8;
}

.rowHover {
	background-color:#E6FBFF;
}

.name_class {
	font-size:11px;
	font-weight:bold;
	vertical-align: top
}

.field_class {
}

.button {
	text-align:center;
}

/* calendar CSS */
.calendarHeader {
	background-color:#86d6f0;
	font-size:11px;
	font-weight:bolder;
	text-align:center;
}

.datepicker {
	padding:3px;
	text-align:center;
}

.month {
	background-color:#86d6f0;
	border:1px solid #000000;
	padding:0px;
}

.dayname {
	font-size:11px;
	font-weight:bolder;
	border: 1px solid #000000;
	background-color:#cccccc;
}

.datepickerform {
	font-size:11px;
}

.monthnavigation {
	font-size:11px;
}

.nomonthday {
	background-color:#E6FBFF;
	border: 1px solid #000000;
	width:103px;
	height:103px;
}

.monthday {
	background-color:#ffffff;
	border: 1px solid #000000;
	font-size:11px;
	height:103px;
	vertical-align:top;
	width:103px;
}

.saturday {
	background-color:#eeeeee;
	border: 1px solid #000000;
	font-size:11px;
	height:103px;
	vertical-align:top;
	width:103px;
}

.sunday {
	background-color:#eeeeee;
	border: 1px solid #000000;
	font-size:11px;
	height:103px;
	vertical-align:top;
	width:103px;
}

.today {
	background-color:#cccccc;
	border:1px solid #000000;
	font-size:11px;
	height:103px;
	vertical-align:top;
	width:103px;
}

.eventcontent {
	font-size:11px;
	vertical-align:top;
	width:100%;
}
/**********************
* TEMPLATE CSS STYLES *
***********************/
#bodyContainer {
	background-color:#fefefe;
	border:1px dashed #000000;
	padding:15px;
	margin: 5px;
	width:770px;
}

.footer {
	background-color:#eeeeee;
	border: 1px solid #000000;
	padding: 5px;
}

.suckertreemenu ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.approvedSignups {
	background-color:#eeeeee;
	border:1px solid #000000;
	font-weight:bold;
	padding:3px;
	text-align:left;
}

.queuedSignups {
	border:1px solid #00FF00;
	background-color:#BFFFBF;
	font-weight:bold;
	padding:3px;
	text-align:left;

}

.cancelledSignups {
	border:1px solid #FF0000;
	background-color:#FFCACB;
	font-weight:bold;
	padding:3px;
	text-align:left;
}

.announcementOutline {
	font-size:11px;
}

.announcementHeader {
	background-image:url('../images/header_background.png');
}

.announcementMessage {
}

.announcementPoster {
	font-size:10px;
	font-style:italic;
	text-align:right;
}

.announcementActions {
	background-color:#ffffff;
}

tr {
	font-size:11px;
}

.formError {
	background-color:#FF0000;
	border: 1px dashed #000000;
	color:#ffffff;
	font-weight:bold;
	padding:3px;
	text-align:center;
}

.viewTimestamp {
	font-size:9px;
}

.popup {
	position: absolute;
	display: none;
	text-align: left;
	padding: 3px;
}

.popupBack {
	background-color:#ffffff;
	border: 1px solid #000000;
}

td.label { text-align: right; }

/* need to be at the bottom */
a:link,a:active,a:visited {
	color:#0099ff;
	text-decoration:none;
}

a:hover {
	color:#000000;
}

.information {
	font-size:9px;
	font-style:italic;
}